@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html {
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    background-color: black;
}

.calculator {
    width: 25%;
    height: 50%;
    margin: 0 auto;
}

.display {
    display: flex;
    flex-flow: column;
    width: 100%;
    font-size: 2rem;
    
}

#previous {
    height: 65px;
    background-color: black;
    margin: 0;
    color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: right;
}

#current {
    height: 100px;
    background-color: black;
    margin: 0;
    color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: right;
}

.buttons {
    display: flex;
}

.number-btns {
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    width: 75%;
}

.number-btn, .equal-btn {
    padding: 20px;
    font-size: 2rem;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    align-items: center;
    text-align: center;
    margin: 4px;
    background-color: #333333;
    border: none;
    color: white;
}

.operation-btns {
    display: flex;
    flex-flow: column wrap;
}

.operation-btn {
    padding: 20px;
    font-size: 2rem;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    align-items: center;
    text-align: center;
    margin: 4px;
    background-color: #FF9F0A;
    border: none;
    color: white;
}